#mainButton{
  display : flex;
  flex-direction: row;
  align-items: center;
  background-color : #0a66c2;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 1vh;
  margin-bottom : 2vh;
  max-width: 35vw;
  align-self: center;
  border-radius: 22px;
  /*004182 : hover*/
}
#mainButton:hover{
  background-color: #004182;
  transform: translateY(-2px);
}
  
#mainButton:active {
  box-shadow: none;
  transform: translateY(0px);
}



#mainButton span{
  color : white;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


/* Obviously stolen from the internet : https://getcssscan.com/css-buttons-examples */
.clickButton {
    appearance: none;
    background-color: black;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;

    align-self: center;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform; 
  }
  
  .clickButton:disabled {
    pointer-events: none;
  }
  
  .clickButton:hover {
    color : #0a66c2;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-1px);
  }
  
  .clickButton:active {
    box-shadow: none;
    transform: translateY(0);
  }


   .switchButton {
    align-items: center;
    background-color: black;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
  }
  
  .switchButton:before {
    background-color: #0a66c2;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
  }
  
  .switchButton:hover:before {
    background-color: #0a66c2;
    width: 3rem;
  }
 

  