



body {
    display : flex;
    justify-content:center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
body div{
    display : flex;
    flex-direction: column;
    justify-content:center;
    max-width: 50vw;
}
body h1{
    font-size: 28px;
}

#count{
        align-self: center;
        font-size: 50px;
        color : #0a66c2;
}

.BTNSettings{
    background-color: transparent;
    border : none;
    max-height: 5vh;
    max-width: 5vw;
    align-self: flex-end;
}


.top-row{
    display : flex;
    flex-direction: row;
    align-items: center;
}

.BTNClose{
    display: flex;
}
.BTNClose button{
    align-self: flex-end;
    background-color: transparent;
    border:none;
    max-width: 3.5vw;
    max-height: 3.5vh;
}
.BTNClose button img{
    max-width:100%;
    max-height:100%;
}

button:hover{
    cursor : pointer;
}
button{
    margin : 1%;
}



table td::after {
    content: ''; 
    position: absolute;
    left: 100%; 
    bottom: 0; 
    width: 5px; 
    height: 2px; 
    background-color: black; 
}



.popup {
    display: flex; 
    position: absolute;
    margin: 30vh auto 0;
    padding: 20px;
    width: 40vw;
    height: fit-content;
    border-radius: 20px;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    transition: all 200ms ease;
}


.popup-light {
    background-color: rgba(255, 255, 255, 0.65);
    border: 3px solid rgba(209, 213, 219, 0.3);
    color: #000; 
}


.popup-dark {
    background-color: rgba(20, 20, 25, 0.85);
    border: 3px solid rgba(255, 255, 255, 0.1);
    color: #f0f0f0;
}


.popup table, .popup tr, .popup th, .popup td {
    border: 1px solid; 
    position: relative;
}

.popup-light table,
.popup-light th,
.popup-light td {
    border-color: black;
}

.popup-dark table,
.popup-dark th,
.popup-dark td {
    border-color: white;
}




.popup, .popup table, .popup td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* Footer commun */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: all 0.3s ease;
    margin-top : 1vh;
}

footer p {
    margin: 2px 0;
}

footer p:first-child {
    font-weight: 600;
}

footer p:last-child {
    font-style: italic;
}


.footer-light {
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 2px solid #0a66c2;

}


.footer-dark {
    background-color: #303234;
    border-top: 2px solid #0a66c2;

}

